{% from "/_formhelpers.html" import render_field %}
{% extends "/base.html" %}
{% block content %}

<div class="base-style">
    {% block header %}
    {{ super() }}
    {% endblock %}

    <div class="bg-style borde-4">
    
        <div class="user-style py-4">
            {% if current_user.is_authenticated %}
            <h1 class="subtitle">Hello, {{current_user.username}}</h1>
            <div class="white-style">
                <div class="w-full text-center">
                    <h6>
                        Your Profile
                    </h6>
                    <div class="user-icon-style">
                        <div class="icon-size">
                            {% if current_user.picture_path %}
                            <img src="{{ url_for('static', filename=current_user.picture_path) }}" class="icon-style border-4">
                            {% else %}
                            <img src="/static/image/logo2.png" class="icon-style border-4">
                            {% endif %}
                        </div>
                    </div>

                    <form method="POST" enctype="multipart/form-data" class="user-form">
                        {{form.csrf_token}}
                        <div class="flex">
                            <h6 class="w-full pr-0 md:pr-2">
                                {{render_field(form.picture_path, class="h-full input-form", placeholder="Upload your icon")}}
                            </h6>
                            <h6>
                                {{form.submit(class="h-full btn-lightorange")}}
                            </h6>
                        </div>
                    </form>
                    
                    <h6 class="mt-8 lg:mt-16">
                        Your Journals
                    </h6>
    
                    <div class="w-full flex flex-wrap justify-center border-4">
                        {% for journal in journals %}
                        {% if current_user.id == journal.from_user_id %}
                        <div class="flex justify-center w-1/3 h-56 bg-no-repeat bg-cover bg-center relative transform -rotate-2 border-8 border-yellow-50 rounded shadow-md m-2" style="background-image:url({{url_for('static', filename=journal.picture_path)}})">
                            <img src="/static/image/tape.png" alt="" class="w-2/5 absolute -top-6">
                            <div class="w-full h-1/5 flex items-center justify-center absolute bottom-0 bg-yellow-50">
                                <a href="{{ url_for('journal.journal', _anchor=journal.id) }}">
                                <h1 class="text-xl text-center">
                                    {{ journal.title }}
                                </h1>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <h6 class="mt-8 lg:mt-16">
                        Your Favorite Journals
                    </h6>
                    <div class="wrap-style">                 
                    {% set isLiked = {'isLiked':False} %}
                    {% for like_journal in like_journals %}
                        {% for journal in journals %}
                        {% if like_journal.from_user_id == current_user.id and like_journal.to_journal_id == journal.id %}
                        <div class="flex justify-center w-1/3 h-56 bg-no-repeat bg-cover bg-center relative transform -rotate-2 border-8 border-yellow-50 rounded shadow-md m-2" style="background-image:url({{url_for('static', filename=journal.picture_path)}})">
                            <img src="/static/image/tape.png" alt="" class="w-2/5 absolute -top-6">
                            <div class="w-full h-1/5 flex items-center justify-center absolute bottom-0 bg-yellow-50">
                                <a href="{{ url_for('journal.journal', _anchor=journal.id) }}">
                                <h1 class="text-xl text-center">
                                    {{ journal.title }}
                                </h1>
                                </a>
                            </div>
                        </div>
                        {% if isLiked.update({'isLiked':True}) %}{% endif %}
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if not isLiked.isLiked %}  
                        <p class="mt-2">
                            Save your favs here!
                        </p>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <p>Login or Sign up</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}