{% from "/_formhelpers.html" import render_field %}
{% extends "/base.html" %}
{% block content %}

<div class="base-style">
    {% block header %}
    {{ super() }}
    {% endblock %}

    <div class="bg-style">
        <div class="user-style">
            {% if current_user.is_authenticated %}
            <h1 class="subtitle">Hello, {{current_user.username}}</h1>
            <div class="white-style px-4 sm:px-0">
                <div class="w-full text-center">
                    <!-- profile -->
                    <h6>Your Profile</h6>
                    <div class="user-icon-style">
                        <div class="icon-size">
                            {% if current_user.picture_path %}
                            <img src="{{ url_for('static', filename=current_user.picture_path) }}" class="icon-style border-4">
                            {% else %}
                            <img src="/static/image/logo2.png" class="icon-style border-4">
                            {% endif %}
                        </div>
                    </div>
                    <!-- upload icon -->
                    <form method="POST" enctype="multipart/form-data" class="user-form">
                        {{form.csrf_token}}
                        <div class="flex">
                            <h6 class="w-full pr-2">
                                {{render_field(form.picture_path, class="input-form h-full text-xs", placeholder="Upload your icon")}}
                            </h6>
                            <h6>
                                {{form.submit(class="btn-lightorange h-full")}}
                            </h6>
                        </div>
                    </form>
                    <!-- your journal -->
                    <h6 class="mt-8 lg:mt-16">
                        Your Journals
                    </h6>    
                    <div class="wrap-style">
                    {% set isWrote = {'isWrote':False} %}
                        {% for journal in journals %}
                        {% if current_user.id == journal.from_user_id %}
                        <div class="photo-style-3" style="background-image:url({{url_for('static', filename=journal.picture_path)}})">
                            <img src="/static/image/tape.png" alt="tape" class="tape-style -top-6">
                            <div class="photo-bottom-style">
                                <a href="{{ url_for('journal.journal', _anchor=journal.id) }}">
                                <h1 class="photo-h1-3">
                                    {{ journal.title }}
                                </h1>
                                </a>
                            </div>
                        </div>
                    {% if isWrote.update({'isWrote':True}) %}{% endif %}
                        {% endif %}
                        {% endfor %}
                    {% if not isWrote.isWrote %}  
                        <h6 class="mt-2">
                            <small>
                                Write your first journal!
                            </small>
                        </h6>
                    {% endif %}
                    </div>
                    <!-- your favs -->
                    <h6 class="mt-8 lg:mt-16">
                        Your Favorite Journals
                    </h6>
                    <div class="wrap-style">                 
                    {% set isLiked = {'isLiked':False} %}
                    {% for like_journal in like_journals %}
                        {% for journal in journals %}
                        {% if like_journal.from_user_id == current_user.id and like_journal.to_journal_id == journal.id %}
                        <div class="photo-style-3" style="background-image:url({{url_for('static', filename=journal.picture_path)}})">
                            <img src="/static/image/tape.png" alt="tape" class="tape-style -top-6">
                            <div class="photo-bottom-style">
                                <a href="{{ url_for('journal.journal', _anchor=journal.id) }}">
                                <h1 class="photo-h1-3">
                                    {{ journal.title }}
                                </h1>
                                </a>
                            </div>
                        </div>
                        {% if isLiked.update({'isLiked':True}) %}{% endif %}
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if not isLiked.isLiked %}  
                        <h6 class="mt-2">
                            <small>
                                Save your favs here!
                            </small>
                        </h6>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <p>Login or Sign up</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}