{% from "/_formhelpers.html" import render_field %}
{% extends "/base.html" %}
{% block content %}

<div class="base-style border-4">
{% block header %}
{{ super() }}
{% endblock %}

    <div class="bg-style">
        <div class="add-style">
            <h1 class="subtitle">Write Journal</h1>
            <!-- add journal form -->
            <div class="white-style">
                {% if current_user.is_authenticated %}
                <form method="POST" enctype="multipart/form-data" class="add-form-style">
                    {{form.csrf_token}}
                    {{ form.from_user_id(value=current_user.id) }}
                    <div class="add-form-left-style">
                        <div class="w-full">
                            <p>
                                {{render_field(form.start_date, placeholder="yyyy-mm-dd", class="input-form")}}
                            </p>
                            <p class="mt-2 lg:mt-4">
                                {{render_field(form.end_date, placeholder="yyyy-mm-dd", class="input-form")}}
                            </p>
                        </div>
                        <div class="w-full">
                            <p class="mt-2 lg:mt-0">
                                {{render_field(form.country, class="input-form")}}
                            </p>
                            <p class="mt-2 lg:mt-4">
                                {{render_field(form.city, class="input-form")}}
                            </p>
                        </div>
                    </div>
                    <div class="add-form-right-style">
                        <p class="mt-2 lg:mt-0">
                            {{render_field(form.title, class="input-form")}}
                        </p>
                        <p class="mt-2 lgmt-4">
                            {{render_field(form.comment, rows="3", class="input-form h-auto rounded-3xl")}}
                        </p>
                        <p class="mt-2 lg:mt-4">
                            {{render_field(form.picture_path, class="input-form h-auto text-xs")}}
                        </p>
                        <p class="mt-2 lg:mt-4 text-right">
                            {{form.submit(class="btn-lightorange h-10 px-6")}}
                        </p>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}