{% from "/_formhelpers.html" import render_field %}
{% extends "/base.html" %}
{% block content %}

<div class="base-style">
{% block header %}
{{ super() }}
{% endblock %}

<div class="journal-style">
    {% for journal in journals %}
    <div class="h-screen flex flex-wrap items-center border">
        <!-- journal -->
        <div class="page-style" style="background-image: url(/static/image/paper6.png);" id="{{ journal.id }}">
            <!-- photo -->
            <div class="page-top-style">
                <div class="photo-style-2" style="background-image:url({{url_for('static', filename=journal.picture_path)}})">
                    <img src="/static/image/tape.png" alt="" class="tape-style-2">
                    <div class="photo-bottom-style">
                        <h1 class="photo-h1-2">
                            {{ journal.title }}
                        </h1>
                    </div>
                </div>
                <div class="label-style">
                    <img src="/static/image/label3.png" alt="" class="w-full shadow-md">
                    <h1 class="label-h1">
                        {{ journal.city }}, {{ journal.country }}
                    </h1>
                </div>
            </div>
            <!-- comment -->
            <div class="page-bottom-style">
                <div class="2xl:mt-4">
                    <h1>
                        {{ journal.start_date.strftime('%Y. %m. %d') }} - {{ journal.end_date.strftime('%Y. %m. %d') }}
                    </h1>
                    <p class="font-light text-gray-600 sm:text-sm">{{ journal.comment }}</p>

                    <!-- journal info -->
                    <div class="info-style">
                    {% for user in users %}
                    {% if journal.from_user_id == user.id %}
                        <!-- icon and name -->
                        <div class="w-1/3 flex items-center">
                            <div class="icon-size-2">
                                {% if user.picture_path %}
                                <img src="{{ url_for('static', filename=user.picture_path) }}" class="icon-style">
                                {% else %}
                                <img src="/static/image/logo2.png" class="icon-style">
                                {% endif %}
                            </div>
                            <h6 class="ml-2">
                                {{ user.username }}
                            </h6>
                        </div>
                    {% endif %}
                    {% endfor %}

                    {% if current_user.is_authenticated %}
                        <!-- like button -->
                        <form method="POST" class="font-josefin">
                            {{ form.csrf_token }}
                            {{ form.from_user_id(value=current_user.id) }}
                            {{ form.to_journal_id(value=journal.id) }}
                            {% set isLiked = {'isLiked':False} %}
                            {% for like_journal in like_journals %}
                                {% if like_journal.from_user_id == current_user.id and like_journal.to_journal_id == journal.id %}
                                    {{ form.submit(value="♥ Liked",　class="btn-orange") }}
                                {% if isLiked.update({'isLiked':True}) %}{% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if not isLiked.isLiked %}  
                                {{ form.submit(class="btn-transparent") }}
                            {% endif %}
                        </form>
                    {% else %}
                        <p>
                            <a href="{{ url_for('signup.signup') }}">
                                <button class="btn-lightorange-sm">
                                    ♡ You can save it after sign up!
                                </button>
                            </a>
                        </p>
                    {% endif %}
                    </div>
                    <!-- end journal info -->
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% block back %}
{{ super() }}
{% endblock %} 

</div>
{% endblock %}