@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&family=La+Belle+Aurore&display=swap');

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

/**
Add the correct font weight in Edge and Safari.
*/

b {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

/**
Restore the focus styles unset by the previous rule.
*/

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */


dd,
h1,
h5,
h6,
p {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

button {
  cursor: pointer;
}

h1,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img {
  max-width: 100%;
  height: auto;
}

body {
  @apply　bg-beige text-gray-700;
}

h1 {
  font-family: La Belle Aurore, cursive;
}

h5 {
  font-family: Josefin Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 640px){
  h5{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 768px){
  h5{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px){
  h5{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1536px){
  h5{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h6 {
  font-family: Josefin Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px){
  h6{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px){
  h6{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px){
  p{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

small {
  font-weight: 400;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

@media (min-width: 1024px){
  nav{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

ul {
  font-family: Josefin Sans, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 768px){
  ul{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px){
  ul{
    display: flex;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

form {
  font-family: Josefin Sans, sans-serif;
}

/* base.html */

.nav-bar-style {
  display: none;
  flex-grow: 1;
  margin-top: 0.5rem;
  width: 100%;
}

@media (min-width: 1024px){
  .nav-bar-style{
    display: flex;
    align-items: center;
    margin-top: 0px;
    width: auto;
  }
}

.nav-ul-style {
  align-items: center;
  flex: 1 1 0%;
}

@media (min-width: 1024px){
  .nav-ul-style{
    justify-content: flex-end;
    text-align: right;
  }
}

.svg-style {
  height: 1rem;
  fill: currentColor;
  width: 1rem;
}

@media (min-width: 768px){
  .svg-style{
    height: 1.25rem;
    width: 1.25rem;
  }
}

.menu-ml {
  margin-left: 1.5rem;
}

@media (min-width: 768px){
  .menu-ml{
    margin-left: 2rem;
  }
}

@media (min-width: 1024px){
  .menu-ml{
    margin-left: 3rem;
  }
}

.menu-block {
  display: inline-block;
}

.menu-block:hover{
  opacity: 0.75;
}

.menu-block{
  transition-duration: 300ms;
}

.btn-toggle {
  background-color: transparent;
}

.btn-toggle:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(255, 154, 0, var(--tw-bg-opacity));
}

.btn-toggle{
  --tw-border-opacity: 1;
  border-color: rgba(55, 65, 81, var(--tw-border-opacity));
}

.btn-toggle:hover{
  --tw-border-opacity: 1;
  border-color: rgba(255, 154, 0, var(--tw-border-opacity));
}

.btn-toggle{
  border-radius: 0.25rem;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.btn-toggle:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-toggle{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.btn-toggle:hover{
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.btn-toggle{
  transition-duration: 300ms;
}

/* home.html */

.home-style {
  display: grid;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
  gap: 0px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px){
  .home-style{
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px){
  .home-style{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.title-style {
  position: absolute;
  left: 0px;
  bottom: 33.333333%;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
  width: 100%;
  z-index: 10;
}

.photo-style {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  --tw-border-opacity: 1;
  border-color: rgba(255, 251, 235, var(--tw-border-opacity));
  border-radius: 0.25rem;
  border-width: 8px;
  display: flex;
  justify-content: center;
  height: 66.666667%;
  opacity: 0.5;
}

.photo-style:hover{
  opacity: 0.8;
}

.photo-style{
  position: relative;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-duration: 300ms;
}

.photo-bottom-style {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 251, 235, var(--tw-bg-opacity));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.tape-style {
  position: absolute;
  top: -2rem;
  width: 40%;
}

.photo-h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

@media (min-width: 768px){
  .photo-h1{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

/* journal.html */

.journal-style {
  display: grid;
  min-height: 100vh;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px){
  .journal-style{
    gap: 0px;
  }
}

@media (min-width: 1024px){
  .journal-style{
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.pages-style {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  margin-bottom: 1rem;
}

@media (min-width: 640px){
  .pages-style{
    margin-bottom: 0px;
  }
}

.page-style {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25rem;
  height: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
}

@media (min-width: 640px){
  .page-style{
    height: 83.333333%;
  }
}

.page-top-style {
  display: flex;
  justify-content: center;
  height: 50%;
  position: relative;
  width: 100%;
}

@media (min-width: 1280px){
  .page-top-style{
    height: 66.666667%;
  }
}

.page-bottom-style {
  display: flex;
  align-items: center;
  height: 50%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

@media (min-width: 1280px){
  .page-bottom-style{
    height: 33.333333%;
  }
}

.photo-style-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  --tw-border-opacity: 1;
  border-color: rgba(255, 251, 235, var(--tw-border-opacity));
  border-radius: 0.25rem;
  border-width: 8px;
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 83.333333%;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: -2deg;
}

@media (min-width: 640px){
  .photo-style-2{
    width: 66.666667%;
  }
}

@media (min-width: 1024px){
  .photo-style-2{
    width: 83.333333%;
  }
}

.tape-style-2 {
  position: absolute;
  top: -1rem;
  width: 40%;
}

@media (min-width: 640px){
  .tape-style-2{
    top: -2.5rem;
  }
}

@media (min-width: 1536px){
  .tape-style-2{
    top: -3.5rem;
  }
}

.label-style {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 4rem;
  width: 33.333333%;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: 2deg;
}

.info-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

@media (min-width: 640px){
  .info-style{
    margin-top: 0.5rem;
  }
}

.icon-size-2 {
  width: 33.333333%;
}

@media (min-width: 1024px){
  .icon-size-2{
    width: 50%;
  }
}

@media (min-width: 1280px){
  .icon-size-2{
    width: 33.333333%;
  }
}

@media (min-width: 1536px){
  .icon-size-2{
    width: 25%;
  }
}

.photo-h1-2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
}

@media (min-width: 640px){
  .photo-h1-2{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1280px){
  .photo-h1-2{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1536px){
  .photo-h1-2{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.label-h1 {
  font-size: 0.75rem;
  line-height: 1rem;
  position: absolute;
  text-align: center;
}

@media (min-width: 640px){
  .label-h1{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px){
  .label-h1{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1536px){
  .label-h1{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* add_journal.html */

.add-style {
  height: 100%;
  overflow: scroll;
  padding-top: 2.5rem;
  width: 100%;
}

@media (min-width: 640px){
  .add-style{
    width: 80%;
  }
}

@media (min-width: 1024px){
  .add-style{
    height: auto;
  }
}

@media (min-width: 1280px){
  .add-style{
    width: 60%;
  }
}

@media (min-width: 1536px){
  .add-style{
    width: 50%;
  }
}

.add-form-style {
  display: flex;
  flex-wrap: wrap;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  width: 83.333333%;
}

@media (min-width: 1024px){
  .add-form-style{
    flex-wrap: nowrap;
    width: 66.666667%;
  }
}

.add-form-left-style {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
}

@media (min-width: 1024px){
  .add-form-left-style{
    padding-right: 0.5rem;
    width: 33.333333%;
  }
}

.add-form-right-style {
  width: 100%;
}

@media (min-width: 1024px){
  .add-form-right-style{
    padding-left: 0.5rem;
    width: 66.666667%;
  }
}

/* user.html */

.user-style {
  height: 83.333333%;
  overflow: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

@media (min-width: 640px){
  .user-style{
    width: 80%;
  }
}

@media (min-width: 1280px){
  .user-style{
    width: 50%;
  }
}

.wrap-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

@media (min-width: 1024px){
  .wrap-style{
    margin-top: 2rem;
  }
}

.user-icon-style {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

@media (min-width: 768px){
  .user-icon-style{
    margin-top: 1rem;
  }
}

.photo-style-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  --tw-border-opacity: 1;
  border-color: rgba(255, 251, 235, var(--tw-border-opacity));
  border-radius: 0.25rem;
  border-width: 8px;
  display: flex;
  justify-content: center;
  height: 14rem;
  margin: 1rem;
  position: relative;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: -2deg;
}

@media (min-width: 640px){
  .photo-style-3{
    margin: 0.5rem;
    width: 33.333333%;
  }
}

.user-form {
  margin-top: 2rem;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

@media (min-width: 640px){
  .user-form{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px){
  .user-form{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.icon-size {
  width: 33.333333%;
}

@media (min-width: 640px){
  .icon-size{
    width: 16.666667%;
  }
}

.photo-h1-3 {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

@media (min-width: 1024px){
  .photo-h1-3{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

/* search.html */

.result-style {
  height: 16rem;
  overflow: scroll;
  width: 100%;
}

@media (min-width: 640px){
  .result-style{
    height: 20rem;
  }
}

@media (min-width: 1536px){
  .result-style{
    height: 100%;
  }
}

/* base components */

/* layout */

.base-style {
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  width: 100vw;
}

@media (min-width: 768px){
  .base-style{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 8rem;
  }
}

@media (min-width: 1280px){
  .base-style{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 9rem;
  }
}

.bg-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.white-style {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.4;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
}

@media (min-width: 1280px){
  .white-style{
    margin-top: 2.5rem;
  }
}

.layout-2 {
  width: 100%;
}

@media (min-width: 640px){
  .layout-2{
    width: 80%;
  }
}

@media (min-width: 1280px){
  .layout-2{
    width: 60%;
  }
}

@media (min-width: 1536px){
  .layout-2{
    width: 50%;
  }
}

.layout-3 {
  width: 100%;
}

@media (min-width: 640px){
  .layout-3{
    width: 80%;
  }
}

@media (min-width: 1024px){
  .layout-3{
    width: 50%;
  }
}

@media (min-width: 1536px){
  .layout-3{
    width: 33.333333%;
  }
}

/* font */

.title {
  font-size: 3.75rem;
  line-height: 1;
  text-align: center;
}

@media (min-width: 768px){
  .title{
    font-size: 4.5rem;
    line-height: 1;
  }
}

@media (min-width: 1024px){
  .title{
    font-size: 6rem;
    line-height: 1;
  }
}

@media (min-width: 1280px){
  .title{
    font-size: 8rem;
    line-height: 1;
  }
}

.subtitle {
  font-size: 3.75rem;
  line-height: 1;
  text-align: center;
}

@media (min-width: 1280px){
  .subtitle{
    font-size: 4.5rem;
    line-height: 1;
  }
}

/* button */

.btn-lightorange {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 154, 0, var(--tw-bg-opacity));
}

.btn-lightorange:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(255, 116, 0, var(--tw-bg-opacity));
}

.btn-lightorange{
  border-radius: 9999px;
  cursor: pointer;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.btn-lightorange:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-lightorange{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  transition-duration: 300ms;
}

@media (min-width: 640px){
  .btn-lightorange{
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 1280px){
  .btn-lightorange{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.btn-lightorange-sm {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 154, 0, var(--tw-bg-opacity));
}

.btn-lightorange-sm:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(255, 116, 0, var(--tw-bg-opacity));
}

.btn-lightorange-sm{
  border-radius: 9999px;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1rem;
}

.btn-lightorange-sm:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-lightorange-sm{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  transition-duration: 300ms;
}

@media (min-width: 640px){
  .btn-lightorange-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 768px){
  .btn-lightorange-sm{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.btn-orange {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 154, 0, var(--tw-bg-opacity));
}

.btn-orange:hover{
  background-color: transparent;
}

.btn-orange{
  border-color: transparent;
}

.btn-orange:hover{
  --tw-border-opacity: 1;
  border-color: rgba(255, 154, 0, var(--tw-border-opacity));
}

.btn-orange{
  border-radius: 9999px;
  border-width: 1px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.btn-orange:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-orange{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn-orange:hover{
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn-orange{
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.btn-orange:hover{
  --tw-text-opacity: 1;
  color: rgba(255, 154, 0, var(--tw-text-opacity));
}

.btn-orange{
  transition-duration: 300ms;
}

@media (min-width: 640px){
  .btn-orange{
    border-width: 2px;
  }
}

.btn-transparent {
  background-color: transparent;
}

.btn-transparent:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(255, 154, 0, var(--tw-bg-opacity));
}

.btn-transparent{
  --tw-border-opacity: 1;
  border-color: rgba(255, 154, 0, var(--tw-border-opacity));
}

.btn-transparent:hover{
  --tw-border-opacity: 1;
  border-color: rgba(255, 154, 0, var(--tw-border-opacity));
}

.btn-transparent{
  border-radius: 9999px;
  border-width: 1px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.btn-transparent:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-transparent{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.btn-transparent:hover{
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn-transparent:focus{
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn-transparent{
  --tw-text-opacity: 1;
  color: rgba(255, 154, 0, var(--tw-text-opacity));
}

.btn-transparent:hover{
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.btn-transparent{
  transition-duration: 300ms;
}

@media (min-width: 640px){
  .btn-transparent{
    border-width: 2px;
  }
}

.btn-back {
  background-color: transparent;
}

.btn-back:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.btn-back{
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn-back:hover{
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(255, 116, 0, var(--tw-text-opacity));
}

.btn-back{
  width: 1.5rem;
  transition-duration: 300ms;
}

@media (min-width: 768px){
  .btn-back{
    height: 1.75rem;
    width: 1.75rem;
  }
}

@media (min-width: 1024px){
  .btn-back{
    border-width: 2px;
    height: 2rem;
    width: 2rem;
  }
}

@media (min-width: 1280px){
  .btn-back{
    height: 3rem;
    width: 3rem;
  }
}

.btn-back-style {
  position: fixed;
  right: 0.25rem;
  bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

@media (min-width: 768px){
  .btn-back-style{
    right: 0.75rem;
    bottom: 0.75rem;
  }
}

@media (min-width: 1280px){
  .btn-back-style{
    right: 1rem;
    bottom: 1rem;
  }
}

/* icon */

.icon-style {
  --tw-border-opacity: 1;
  border-color: rgba(255, 116, 0, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 2px;
}

@media (min-width: 640px){
  .icon-style{
    border-width: 4px;
  }
}

/* form */

.form-style {
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  width: 75%;
}

@media (min-width: 640px){
  .form-style{
    width: 66.666667%;
  }
}

.input-form {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.5;
}

.input-form:hover{
  --tw-bg-opacity: 0.9;
}

.input-form:focus{
  --tw-bg-opacity: 0.9;
}

.input-form{
  border-radius: 9999px;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-form:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input-form{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  width: 100%;
  transition-duration: 300ms;
}

@media (min-width: 640px){
  .input-form{
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* transform */

.bg-beige{
  --tw-bg-opacity: 1;
  background-color: rgba(237, 204, 160, var(--tw-bg-opacity));
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.border-4{
  border-width: 4px;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.font-aurore{
  font-family: La Belle Aurore, cursive;
}

.font-light{
  font-weight: 300;
}

.h-auto{
  height: auto;
}

.h-full{
  height: 100%;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-8{
  margin-top: 2rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pr-2{
  padding-right: 0.5rem;
}

.static{
  position: static;
}

.-top-6{
  top: -1.5rem;
}

*{
  --tw-shadow: 0 0 #0000;
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

*{
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-gray-600{
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.hover\:text-orange:hover{
  --tw-text-opacity: 1;
  color: rgba(255, 116, 0, var(--tw-text-opacity));
}

.w-1\/2{
  width: 50%;
}

.w-full{
  width: 100%;
}

.rotate-2{
  --tw-rotate: 2deg;
}

.-rotate-2{
  --tw-rotate: -2deg;
}

.duration-300{
  transition-duration: 300ms;
}

@-webkit-keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes pulse{
  50%{
    opacity: .5;
  }
}

@keyframes pulse{
  50%{
    opacity: .5;
  }
}

@-webkit-keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50%{
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50%{
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@media (min-width: 640px){

  .sm\:block{
    display: block;
  }

  .sm\:flex{
    display: flex;
  }

  .sm\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .sm\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:w-1\/3{
    width: 33.333333%;
  }
}

@media (min-width: 1024px){

  .lg\:hidden{
    display: none;
  }

  .lg\:mt-0{
    margin-top: 0px;
  }

  .lg\:ml-0{
    margin-left: 0px;
  }

  .lg\:mt-4{
    margin-top: 1rem;
  }

  .lg\:mt-8{
    margin-top: 2rem;
  }

  .lg\:mt-16{
    margin-top: 4rem;
  }
}

@media (min-width: 1280px){

  .xl\:block{
    display: block;
  }

  .xl\:flex{
    display: flex;
  }

  .xl\:mt-16{
    margin-top: 4rem;
  }
}

@media (min-width: 1536px){

  .\32xl\:mt-6{
    margin-top: 1.5rem;
  }
}