{% extends "base.html" %}
{% block content %}

<div class="base-style">
    {% block header %}
    {{ super() }}
    {% endblock %}
    
    <div class="home-style">
        <!-- title -->
        <div class="title-style">
            <h1 class="title">Journaly</h1>
            <h5 class="font-semibold mt-8 xl:mt-16">Go on a journey, Write a journal.</h5>
        </div>

        <!-- background journals -->
        {% for journal in journals %}        
            <!-- 1 -->
            {% if journal.id == 1 %}
            <div class="flex sm:block items-center">
                <div class="photo-style -rotate-2" style="background-image:url({{url_for('static', filename=journal.picture_path)}})">
                    <img src="/static/image/tape.png" alt="" class="tape-style">
                    <div class="photo-bottom-style">
                        <h1 class="photo-h1">
                            {{ journal.title}}
                        </h1>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- 2 -->
            {% if journal.id == 2 %}
            <div class="hidden xl:flex items-end">
                <div class="photo-style rotate-2" style="background-image:url({{url_for('static', filename=journal.picture_path)}})">
                    <img src="/static/image/tape.png" alt="" class="tape-style">
                    <div class="photo-bottom-style">
                        <h1 class="photo-h1">
                            {{ journal.title}}
                        </h1>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- 3 -->
            {% if journal.id == 3 %}
            <div class="hidden xl:block">
                <div class="photo-style -rotate-2" style="background-image:url({{url_for('static', filename=journal.picture_path)}})">
                    <img src="/static/image/tape.png" alt="" class="tape-style">
                    <div class="photo-bottom-style">
                        <h1 class="photo-h1">
                            {{ journal.title}}
                        </h1>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- 4 -->
            {% if journal.id == 4 %}
            <div class="hidden sm:flex items-end">
                <div class="photo-style rotate-2" style="background-image:url({{url_for('static', filename=journal.picture_path)}})">
                    <img src="/static/image/tape.png" alt="" class="tape-style">
                    <div class="photo-bottom-style">
                        <h1 class="photo-h1">
                            {{ journal.title}}
                        </h1>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock %}