{% from "/_formhelpers.html" import render_field %}
{% extends "/base.html" %}
{% block content %}

<div class="base-style">
    {% block header %}
    {{ super() }}
    {% endblock %}

    <div class="bg-style">
        <div class="layout-2">
            <h1 class="subtitle">Search</h1>
            <!-- search bar -->
            <form method="POST" class="user-form">
                {{form.csrf_token}}
                <div class="flex">
                    <h6 class="w-full pr-2">
                        {{render_field(form.keyword, class="input-form", placeholder="Let's search with the name of location!")}}
                    </h6>
                    <h6>
                        {{form.submit(class="btn-lightorange")}}
                    </h6>
                </div>
            </form>
            <!-- search result -->
            {% if not form.keyword.data %}
            {% else %}
            <div class="white-style px-4 sm:px-0">
                <div class="result-style">
                    <div class="wrap-style">
                    {% set isMatched = {'isMatched':False} %}
                    {% for journal in journals %}
                        {% if form.keyword.data.lower() in journal.country.lower() or form.keyword.data.lower() in journal.city.lower() %}
                        <div class="photo-style-3" style="background-image:url({{url_for('static', filename=journal.picture_path)}})">
                            <img src="/static/image/tape.png" alt="tape" class="tape-style -top-6">
                            <div class="photo-bottom-style">
                                <a href="{{ url_for('journal.journal', _anchor=journal.id) }}">
                                <h1 class="photo-h1-3">
                                    {{ journal.title }}
                                </h1>
                                </a>
                            </div>
                        </div>
                        {% if isMatched.update({'isMatched':True}) %}{% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if not isMatched.isMatched %}
                        <h6 class="text-center">We couldn't find a match for "{{ form.keyword.data }}".</h6>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}